body {

    background-color: rgba(4, 71, 71, 0.671);
}

header {
    background-color: white;
    padding-bottom: 95px;
}

.sign-up-form {
    width: 20vw;
    height: 36vw;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px;
    margin: 8% auto 0;
    margin-top: 20px;
    text-align: center;
    border-radius: 2px;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
    font-size: x-large;
}

.form-section {

    margin-left: 10px;

}

form label {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-size: medium;
}

form input {
    width: 100%;
    padding: 5px;
    border: none;
    border: 1px solid black;
}

.text-input {
    display: block;
    width: 90%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #021411;
    border-radius: 2px;
}

legend {
    font-size: large;
    padding-top: 5px;
}

.block-label {
    display: block;
}

.join-button {
    margin-top: 20px;
    border-radius: 1px;
    padding-top: 15px;
    padding-right: 32px;
    padding-bottom: 15px;
    padding-left: 32px;
    text-align: center;
    font-size: 100%;
    background-color: #786bf1;
    color: #fafafa;

}

@media only screen and (max-width: 992px) {
    .sign-up-form {
        width: 30vw;
        height: 70vw;
        box-shadow: none;
    }
}

@media only screen and (max-width: 600px) {
    header {
        width: 110vw;
        padding-bottom: 41px;
    }

    img {
        width: 20vw;
        height: auto;
    }


    .sign-up-form {
        width: 100vw;
        height: 125vw;
        box-shadow: none;
        background: none;

    }

    form input {

        width: 70%;
    }

    .join-button {

        width: 80%;
    }

    .social-networks {

        margin-left: 60px;
    }


}