body {
    background-image: url('../images/water.webp');
    background-size: cover;
    background-position: center;
    position: relative;
}

header {
    background-color: white;
    padding-bottom: 95px;
}

.sign-up-form {
    width: 20vw;
    height: 36vw;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px;
    margin: 8% auto 0;
    margin-top: 20px;
    text-align: center;
    border-radius: 2px;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
    font-size: x-large;
}

.form-section {

    margin-left: 10px;

}

form label {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-size: medium;
}

form input {
    width: 100%;
    padding: 5px;
    border: none;
    border: 1px solid black;
}

.text-input {
    display: block;
    width: 90%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #021411;
    border-radius: 2px;
}

legend {
    font-size: large;
    padding-top: 5px;
}

.block-label {
    display: block;
}

.join-button {
    margin-top: 20px;
    border-radius: 1px;
    padding-top: 15px;
    padding-right: 32px;
    padding-bottom: 15px;
    padding-left: 32px;
    text-align: center;
    font-size: 100%;
    background-color: #786bf1;
    color: #fafafa;
    display: block;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .sign-up-form {
        width: auto;
        height: auto;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
        background: white;
        padding: 0px;
        margin: auto;
        margin-top: auto;
        text-align: center;
        border-radius: 2px;
    }

    form input {
        width: auto;
        padding: 5px;
        border: none;
        border: 1px solid black;
    }

    .text-input {
        display: block;

        height: auto;
        margin-top: 5px;
        margin-bottom: 10px;
        border-width: 1px;
        border-style: solid;
        border-color: #021411;
        border-radius: 2px;
    }

    .form-section {

        margin-left: 60px;
        float: none;
        align-items: center;
        align-content: center;
        align-self: auto;

    }

    header {
        background-color: white;
        padding-bottom: 45px;
    }
}