@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');

* {
    margin: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300%;
    color: black;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525
}

.logo {
    float: left;
    width: 0%;
    height: 0%;
    font-size: 280%;
    margin-left: 30px;
    padding-top: 3px;

}

.menu {
    font-size: 300%;
    letter-spacing: 3px;

}

.menu li {

    list-style-type: none;
    text-align: right;
    margin: 0;
    padding-right: 10px;
}

.menu,
.logo {
    line-height: 75px;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    text-transform: uppercase;

}


.menu li a {
    font-size: 2vmin;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 1px solid black;

}


.main-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.main-image {
    height: 600px;
    width: 100%;
    background: url('../images/main-image.webp') no-repeat center center;

    animation-name: main-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes main-zoom {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.cover-text,
.cover-text h2 {
    color: #ffffff;
}

.cover-text {
    font-size: 100%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 350px;
    height: 6vw;
    padding-top: 40px;
    padding-left: 15px;
    background-color: rgba(236, 118, 128, 0.918);
    bottom: 30px;
    left: 150px;
    position: absolute;
}

.what {
    height: 13vw;
    background: url('../images/background.webp')center center / cover no-repeat fixed;
    margin-top: 18px;
    text-align: center;
    padding-top: 12px;
    color: #ffffff;
    text-decoration: underline;
    padding-bottom: 12px;


}

.list {
    text-align: left;
    padding-top: 10px;
    margin-left: 10px;
    list-style-type: none;
    line-height: 1.6;
    line-break: normal;
    text-transform: none;
    display: inline-block;
}

footer {
    height: 9vw;
}


.social-networks {
    text-align: center;
    background-color: white;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 5%;
    padding: 0%;
    color: #021411;
}


@media only screen and (max-width: 992px) {
    .body {
        width: 100%;

    }

    .what {

        height: 18vw;
        font-size: 1.5vmax;
    }

    .cover-text {
        left: 5px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

    .logo {
        float: none;
    }

    img {

        width: 20vw;
        height: auto;

    }

    .menu li {


        padding-left: 0;
        margin: 0.5%;

    }

    .menu li a {
        font-size: 1.5vmin;
    }

    .menu,
    .logo {

        line-height: 20px;
        margin-bottom: 1px;
        padding-bottom: 1px;

    }

    .cover-text {
        left: 5px;
        top: 10px;
        font-size: medium;
        height: 15vw;
    }

    .what,
    .list {
        width: 100%;
        height: auto;
        font-size: 1.5vmax;
        text-align: center;
    }
}