@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');
* {padding: 0;
margin:0;
border: none;}
body {
font-family: Lato, sans-serif;
font-weight: 300;
color:black;
}

h1, h2 {
    font-family: Oswald, sans-serif;
text-transform: uppercase;
letter-spacing: 4px;
color: #252525
}
#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;}
#menu {
    font-size: 100%;
    letter-spacing: 4px;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    text-transform: uppercase;
}

#menu a {
    text-decoration:none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 1px solid black;
    
}


#main-outer{
    height:400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {height:600px;
    width: 100%;
    background: url('../images/main-image.webp') no-repeat center center;
    
    animation-name: main-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    
    
}

@keyframes main-zoom {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


#cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 100%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 350px;
    height: 100px;

    padding-top: 40px;
    padding-left: 15px;

    background-color: rgba(241, 107, 170, 0.774);
   bottom: 30px;
    left: 150px;

    position: absolute;
}
#sideimage {
    max-width: 0;    
    max-height: 0;
   text-align: left;
   float: left;

}




